<mat-card>
  <mat-card-title>Rejestracja użytkownika</mat-card-title>

  <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" class="form-field-full">
    <div fxLayout="row wrap" fxLayoutGap="8px grid">

      <div fxFlex="100" fxFlex.lt-md="100">
        <mat-form-field appearance="outline">
          <mat-label for="username">Login</mat-label>
          <input matInput placeholder="login" name="login"
                 [(ngModel)]="form.username"
                 minlength="3"
                 maxlength="20"
                 #login="ngModel">
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <div class="alert-danger" *ngIf="f.submitted && login.invalid">
          <div *ngIf="login.errors.required">Wymagana jest nazwa użytkownika</div>
          <div *ngIf="login.errors.minlength">
            Nazwa użytkownika musi mieć min. 3 znaki
          </div>
          <div *ngIf="login.errors.maxlength">
            Nazwa użytkownika nie może mieć więcej jak 20 znaków
          </div>
        </div>
      </div>

      <div fxFlex="100" fxFlex.lt-md="100">
        <mat-form-field appearance="outline">
          <mat-label>Hasło</mat-label>
          <input type="password" matInput placeholder="password" name="password"
                 [(ngModel)]="form.password"
                 minlength="6"
                 #password="ngModel">
          <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
        <div class="alert-danger" *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Wymagane jest hasło</div>
          <div *ngIf="password.errors.minlength">
            Hasło musi mięc min. 6 znaków
          </div>
        </div>
      </div>

      <div fxFlex="100" fxFlex.lt-md="100">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="email" name="email"
                 [(ngModel)]="form.email"
                 email
                 #email="ngModel">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <div class="alert-danger" *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">Email jest wymagany</div>
          <div *ngIf="email.errors.email">
            Nieprawidłowy adres email
          </div>
        </div>
      </div>

      <div fxFlex="100" fxFlex.lt-md="100">
        <mat-form-field appearance="outline">
          <mat-label>Imię</mat-label>
          <input matInput placeholder="imię" name="username"
                 [(ngModel)]="form.name"
                 minlength="3"
                 maxlength="20"
                 #username="ngModel">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        <div class="alert-danger" *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Imię jest wymagane</div>
          <div *ngIf="username.errors.minlength">
            Imię musi mieć min. 3 znaki
          </div>
          <div *ngIf="username.errors.maxlength">
            Imię nie może mieć więcej niż 20 znaków
          </div>
        </div>
      </div>

      <div fxFlex="100" fxFlex.lt-md="100">
        <mat-form-field appearance="outline">
          <mat-label>Nazwisko</mat-label>
          <input matInput placeholder="nazwisko" name="surname"
                 [(ngModel)]="form.surname"
                 minlength="3"
                 maxlength="20"
                 #username="ngModel">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        <div class="alert-danger" *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Nazwisko jest wymagane</div>
          <div *ngIf="username.errors.minlength">
            Nazwisko musi mieć min. 3 znaki
          </div>
          <div *ngIf="username.errors.maxlength">
            Nazwisko nie może mieć więcej niż 20 znaków
          </div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block">Dodaj użytkownika</button>
      </div>

    </div>
  </form>
</mat-card>
